.h_desc_value {
    margin-top: 20px;
  }
  
  .desc_caption_label {
    font-size: 12px;
  }
  
  .desc_value_p {
    font-size: 25px;
    /*margin-left: 20px;*/
  }

  
.h_books_grid{
  background: whitesmoke;
  margin-top: -50px;
  border-radius: 3px;
}